:root {
  --color-bg: var(--figma-color-bg, rgba(255, 255, 255, 1));
  --color-border: var(--figma-color-border, #e6e6e6);
  --color-border-focus: var(--figma-color-border-selected, #0d99ff);
  --color-text-danger: var(--figma-color-text-danger, #dc3412);
  --color-text: var(--figma-color-text, rgba(0, 0, 0, 0.9));
}

body,
select {
  background: var(--color-bg);
  color: var(--color-text);
}
select {
  border-color: var(--color-border);
}

select:focus-visible {
  border-color: var(--color-border-focus);
  outline-color: var(--color-border-focus);
}

.token-row.invalid select {
  color: var(--color-text-danger);
}

main {
  padding: 1rem;
}
.token-row {
  display: flex;
}

.token-row + .token-row {
  margin-top: 1rem;
}

.token-row span label {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.token-row span,
.token-row select {
  font-size: 1rem;
}
.token-row span {
  display: flex;
  flex: 2;
  flex-direction: column;
}
.token-row span:first-child {
  flex: 1;
}
.token-row span + span {
  margin-left: 0.75rem;
}

figure {
  align-items: center;
  background: var(--local-bg);
  border: 2px solid var(--local-border);
  box-sizing: border-box;
  color: var(--local-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  padding: 1rem;
  width: 100%;
}
figure svg {
  fill: none;
  stroke: var(--local-icon);
  stroke-width: 2px;
}
figure p {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

ul {
  list-style: none;
  font-family: monospace;
  margin: 1rem 0;
  padding: 0;
}
li {
  display: flex;
  /* flex-direction: column; */
  font-size: 0.8rem;
  justify-content: space-between;
}
li span:last-child {
  font-style: italic;
  text-align: right;
}
li + li {
  margin-top: 0.5rem;
}
