body {
  text-align: center;
}

/**
  * An example of how to style a "primary" button with Figma tokens 
  * on top of the base style in figma-reset.css.
  */

button.active {
  background: var(--figma-color-bg-brand);
  border: none;
  color: var(--figma-color-text-onbrand);
}
button.active:hover {
  background-color: var(--figma-color-bg-brand-hover);
}
button.active:active {
  background-color: var(--figma-color-bg-brand-pressed);
}
button.active:focus-visible {
  outline-color: var(--figma-color-border-selected-strong);
}

.token-row.invalid {
  background-color: var(--figma-color-text-danger);
}

button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
button:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

input {
  display: block;
  margin-left: 0.5rem;
  flex: 1;
}

nav {
  background: var(--figma-color-bg);
  border-bottom: 1px solid var(--figma-color-border);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  width: 100%;
}
nav button {
  font-size: 0.8rem;
}

main {
  padding: 1rem;
}

.token-row {
  display: flex;
}

.token-row + .token-row {
  margin-top: 1rem;
}

.token-row span label {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}
.token-row span,
.token-row select {
  font-size: 1rem;
}
.token-row span {
  display: flex;
  flex: 2;
  flex-direction: column;
}
.token-row span:first-child {
  flex: 1;
}
.token-row span + span {
  margin-left: 0.75rem;
}

figure {
  align-items: center;
  background: var(--local-bg);
  border: 2px solid var(--local-border);
  box-sizing: border-box;
  color: var(--local-text);
  display: flex;
  justify-content: center;
  margin: 2rem 0 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
}
figure svg {
  fill: none;
  height: auto;
  stroke: var(--local-icon);
  stroke-width: 2px;
  width: 2rem;
}
figure p {
  margin-left: 0.5rem;
}

ul {
  list-style: none;
  font-family: monospace;
  margin: 0.5rem 0 0;
  padding: 0;
}
ul.all-tokens {
  margin: 0;
}
li {
  align-items: center;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
}
li span:last-child {
  font-style: italic;
  text-align: right;
}
li span {
  align-items: center;
  display: flex;
}
li span.swatch {
  border: 1px solid var(--figma-color-border);
  height: 1rem;
  margin-left: 0.5rem;
  width: 1rem;
}
li + li {
  margin-top: 0.5rem;
}
